@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  font-family: Inter, sans-serif;
}